<html>

    <head>
        <title>MS TEAMS</title>
        <link rel="stylesheet" type="text/css" href="/css/styles2.css">
    </head>
    <body>
        <h1 class="title">MS TEAMS</h1>
        <p id="notification" hidden></p>
        <div class="entry-modal" id="entry-modal">
            <p>Create or Join Meeting</p>
            <input id="room-input" class="room-input" placeholder="Enter Meeting ID">
            <form action="/msteams" method="get">
                <button onclick="createroom()">Create Meeting</button>
                <button onclick="createroom()">Join Meeting</button>
            </form>
        </div>
        <div class="meet-area">
            <!-- Remote Video Element-->
            <video id="remote-video"></video>

            <!-- Local Video Element-->
            <video id="local-video"></video>
        </div>
    </body>

    <script src="js\main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>